<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN2Oc00K-BxJD9269wdhPm03kCSZpA2qs</string>
	<key>GCM_SENDER_ID</key>
	<string>618762948394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pmfilmes</string>
	<key>PROJECT_ID</key>
	<string>pmfilmes-64d7e</string>
	<key>STORAGE_BUCKET</key>
	<string>pmfilmes-64d7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618762948394:ios:627d9283a8cb0a3e4f1853</string>
</dict>
</plist>